@import "../../responsive.scss";

.carded {
  gap: 20px;
  display: flex;
  background-color: #fcf5f3;
  border-radius: 20px;
  height: 100px;
  padding: 20px 0px;

  &:hover {
    cursor: pointer;
  }

  .imageContainer {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

    .img {
      width: 70px;
      height: 70px;
      object-fit: cover;
      border-radius: 50%;
    }

    @include md {
      display: flex;
      flex: 1;

      .img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }

  .textContainer {
    display: flex;
    flex: 1;
    padding: 5px;
    flex-direction: column;
    justify-content: space-between;

    .title {
      font-size: 20px;
      font-weight: 600;
      color: #444;
      transition: all 0.4s ease;

      &:hover {
        color: #000;
        scale: 1.01;
      }
    }

    p {
      font-size: 14px;
      display: flex;
      align-items: center;
      gap: 5px;
      color: #888;
    }

    @include md {
      display: flex;
      flex: 1;

      .title {
        font-size: 15px;
        font-weight: 600;
        color: #444;
        transition: all 0.4s ease;
        padding-bottom: 2px;

        &:hover {
          color: #000;
          scale: 1.01;
        }
      }

      p {
        font-size: 8px;
        display: flex;
        align-items: center;
        gap: 5px;
        color: #888;
      }
    }
  }

  .delete {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;

    img {
      max-height: 30px;
      max-width: 30px;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
